<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content=" initial-scale=1.0,user-scalable=no" />
    <title>文章详情</title>
    <link href="../js/swipebox/css/swipebox.css" rel="stylesheet" />
    <link href="../css/wechat.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script>
    	window.onload = function(){
    		$(".articleContent img").each(function(){
    			var imgSrc = $(this).attr("src");
    			$(this).wrap("<a rel='gallery-1' href='"+imgSrc+"' class='swipebox'></a>");
    			if($(this).width()>120){
    				$(this).css({"display":"table","margin":"0 auto 8px auto"});
    			}else if($(this).width()<=0){
    				$(this).css({"display":"none"});
    			}
    		});
    		$(".articleContent img").click(function(){
    			var curImg = $(this);
    			$(".articleContent img").each(function(i){
    				if($(this).attr("src")==curImg.attr("src")){
    					curImg.parent().attr("href","ios:@" + i);
    				}
    			});
    		});
    	}
    	$(document).ready(function(){
    		//去除文章中自带的缩进样式
    		$(".articleContent p").each(function(){
    			if($(this).find("img").length>0){
    				$(this).css("text-indent","0em");
    				$(this).find("span").css("text-indent","0em");
    				if($(this).text().trim()<=0){
    					$(this).css("text-align","center");
    				}
    				//图片题注居中
    				if($(this).next().text().length<20&&$(this).next().find("strong").length==0){
    					$(this).next().css("text-align","center");
    				}
    			}else{
    				if($(this).text()==''){
    					$(this).remove();
    				}
    			}
    		});
    		
    		$(".articleContent img").each(function(){
    			if($(this).attr("src").indexOf("file:")==0){
    				$(this).remove();
    			}
    		});
    		
    		//过滤文章中的链接
    		$(".articleContent a").each(function(){
    			var thisHref = $(this).attr("href");
    			if(thisHref.indexOf("http")!=0){
    				$(this).removeAttr("href");
    				$(this).css("color","#666");
    			}
    		});
    		
    		//多语种选择
    		$(".lanSel").click(function(){
    			if($(this).find("ul").is(":hidden")){
    				$(this).find("ul").show();
    			}else{
    				$(this).find("ul").hide();
    			}
    			return false;
    		});
    		$(".lanSel a").click(function(e){
    			e.stopPropagation();
    		});
    		$(document).click(function(){
    			$(".lanSel").find("ul").hide();
    		});
    	});
    </script>
    <style>
    	body{ line-height:1.6}
		/* body{padding:5px 10px;} */
		@media screen and (min-width: 1024px){
			.pushBody{
				width: 740px;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
		.pushBody{
				 padding:0 20px;
			}
		@media screen and (min-width: 1024px){
			.articleTitle {
				margin:0;
			}
		}
		.articleTitle {
				margin:15px 0px 10px 0px;
			}
		.articleTitle h2{
		    line-height: 1.4;
		    font-size: 24px;
		}
		.articleInfo{ margin:0;}
		.articleInfo span{
			display: inline-block;
		    vertical-align: middle;
		    margin-right: 8px;
		    margin-bottom: 10px;
		    font-size: 16px;
		    color: #8c8c8c;
		}
		.articleContent img{ max-width:100%; vertical-align:middle;}		
		/* .articleContent p{ 
				padding-top: 4px;
			    padding-bottom: 4px;
			    color: rgb(102, 102, 102);
			    word-wrap:break-word;
			    white-space: normal;
			    text-indent: 0em;
			    line-height: 1.75em;
			    text-align: justify;
			    margin-bottom: 15px;
			}
		.articleContent p span{
			font-size: 14px;
    		color: rgb(127, 127, 127);
		} */
		/* .articleContent a{color:#666;} */		
		a{color:#0066cc;}
		.articleHide{ overflow:hidden;}
		.journalName{
			white-space: normal; 
			text-indent: 0em; 
			line-height: 1.75em;
			font-size: 14px;
    		color: rgb(127, 127, 127);    		
			border-bottom: 1px solid #e7e7eb;
			padding-bottom:20px;
			margin-bottom:20px;
    	}
		.more{ display:none; text-align:center; font-size:14px; padding-top:12px;}
		.more a{ color:#327eca;}
		.more a span{ position:relative; top:-1px;}	
		.pushqrcode{ text-align:center; padding-top:20px; border-top:solid 1px #e7e7eb;}
		@media screen and (max-width: 375px){
			.pushqrcode img{ width:200px;}
		}
	</style>
</head>

<body>
    <div class="pushBody">
    	<div class="articleTitle"><h2>$!{push.title}</h2></div>
    	<div class="articleInfo">
    		<span>$!{push.publishDate}</span><span>#if($!{push.source})$!{push.source}#else院刊编辑部 #end</span>
		</div>
		<div class="journalName">
    		#if($!{push.journalIssue})<span>$!{push.journalIssue}</span>#end
    	</div>
    	
    	<!-- #if($article.coverLink) <img src="..${article.coverLink}" />#end -->
    	<!-- <div style="margin:0 -10px;"><img src="../images/wechat/article-line.png" width="100%" /></div> -->
    	<div class="articleContent">
    		$!{push.content}
    	</div>
    	<div class="pushqrcode"><img src="../images/push/qr_green.png" /></div>
    	<div style="text-align:center; padding-top:10px; margin-bottom:20px; font-size:14px;">扫描二维码 关注孔子学院院刊</div>
    </div>
</body>
<script src="../js/swipebox/js/jquery.swipebox.js"></script>
</html>
