<link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.4/themes/gray/easyui.css">
<link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.4/themes/color.css">
<style type="text/css">
	a{text-decoration:none}
</style>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-easyui-1.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js" ></script>

<script type="text/javascript" src="../js/wxEditor1.0.0/wxeditor/js/ueditor1_4_3/ueditor.config.js"></script>
<script type="text/javascript" src="../js/wxEditor1.0.0/wxeditor/js/ueditor1_4_3/ueditor.all.js"></script>
<script type="text/javascript" src="../js/wxEditor1.0.0/wxeditor/js/ueditor1_4_3/third-party/zeroclipboard/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="../js/wxEditor1.0.0/wxeditor/js/wwei_editor.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	//var content_editor = UE.getEditor('content_editor');
});
</script>
<script type="text/javascript">
   var content_editor = null;
	//搜索
	function doSearch(){
		//alert("SSS");
		var title = $("#title").val();
		var article_directory = $("#article_directory").val();
		var programa = $("#programa").val();
		var pid = $("#serach_pid").val()
		

		$('#list_data').datagrid('load',{
			title:title,
			programa:programa,
			article_directory:article_directory,
			pid:pid
		});
		$('#list_data').datagrid('clearSelections');
	}
	
	//返回
	function doBack(){
		$('#list_data').datagrid('load',{pid:''});
		$("#_pid").val('');
		$("#serach_pid").val("");
		$("#back").hide();
	}
	
	//子菜单
	function doChild(pid){
		$('#list_data').datagrid('load',{pid:pid});
		$("#_pid").val(pid);
		$("#serach_pid").val(pid);
		$("#back").show();
	}
	
	//新建
	function doAdd(type){
		/* alert("需要填写小说id");
		$('#m_form').form('clear');
		content_editor.setContent("");
		$("#coverLinkimg").find("img").attr("src","");
    	$("#coverLinkimg").hide();
		$("#pid").val($("#_pid").val());
		$('#dialog_edit').show();
        $('#dialog_edit').dialog({modal:true});
        $("#id").textbox({ disabled: false }); */
		$("#coversimg").find("img").attr("src","");
		$("#coversimg").hide();
		$("#pdfFilePath").find("a").attr("href","#");
		$("#pdfFilePath").hide();
		$('#m_form').form('clear');
		$("#pid").val("");
		$('#dialog_edit').show();
        $('#dialog_edit').dialog({modal:true});
        $("#id").textbox({ disabled: false });
	}
	
	//编辑
	function doEdit(id){
		
		$('#m_form').form('clear');
		$("#article_id").val(article_id);
		$('#m_form').form('load', '../manage/articleLoad?id='+id);
		$('#dialog_edit').show();
        $('#dialog_edit').dialog({modal:true});
	}
	
	//提交
	function doSubmit(){
		
		$('#m_form').form('submit', {
            url:'../manage/articleSave',
            onSubmit: function(param){
			
				var id = $("input[name='id']").val();
				if(id == null || id == '') {
					alert("需要填写id");
					return false;
				}
				var article_id = $("input[name='article_id']").val();
				if(article_id == null || article_id == '') {
					alert("需要填写小说id");
					return false;
				}
				
				var title = $("input[name='title']").val();
				if(title == null || title == '') {
					alert("需要填写名字");
					return false;
				}
				
				var update_status = $("input[name='update_status']").val();
				if(update_status == null || update_status == '') {
					alert("需要填写更新状态");
					return false;
				}
				
				var last_update_date = $("input[name='last_update_date']").val();
				if(last_update_date == null || last_update_date == '') {
					alert("需要填写最后更新时间");
					return false;
				}
				
				var last_update_directory = $("input[name='last_update_directory']").val();
				if(last_update_directory == null || last_update_directory == '') {
					alert("需要填写最后更新章节");
					return false;
				}
				
				var article_directory = $("input[name='article_directory']").val();
				if(article_directory == null || article_directory == '') {
					alert("需要填写章节目录");
					return false;
				}
				
				var article_directory_link = $("input[name='article_directory_link']").val();
				if(article_directory_link == null || article_directory_link == '') {
					alert("需要填写章节链接");
					return false;
				}
			
            	var v = $(this).form('enableValidation').form('validate');
            	if(!v){
            		alert("error!");
            		return false;
            	}
            	return true;
            },
            success:function(data){
			   var data = eval('(' + data + ')');
               if(data.success==true){
					$('#dialog_edit').dialog('close');
					$('#list_data').datagrid('reload');
				}else{
					alert("error!");
				}
            }
        });
	}
	
	//删除
	function doDel(id){
        $.messager.confirm('消息提示', '确定删除?', function(r){
            if(r){
        		jQuery.ajax({
        	    	type:"post",
        	    	dataType: 'json',
        	    	url:'../manage/articleDel', 
        	    	data: {
        				id:id
        			},
        			error:function(data){
        				alert('error');
        			},
        	    	success:function(data){
                        $('#list_data').datagrid('reload');
        			}
           		});
    		}
    	});
	}
	
	//按钮
	function qxButton(value,row,index){
    	var c1='<a href="javascript:doChild('+"'"+row.id+"'"+')"><img title="二级菜单" src="../images/icons/into.png" style="vertical-align:middle;"/></a>';
    	var c2='<a href="javascript:doEdit('+"'"+row.id+"'"+')"><img title="编辑" src="../images/icons/edit.png" style="vertical-align:middle;"/></a>';
    	var c3='<a href="javascript:doDel('+"'"+row.id+"'"+')"><img title="删除" src="../images/icons/delete.png" style="vertical-align:middle;"/></a>';
		if(row.parentId!=''&& typeof(row.parentId) != 'undefined' && row.parentId != null){
			return c2+'&nbsp;&nbsp;'+c3+'&nbsp;&nbsp;';
		}
		return c1+'&nbsp;&nbsp;'+c2+'&nbsp;&nbsp;'+c3+'&nbsp;&nbsp;';
	} 
	
	//表格
    $(document).ready(function() {
    	
    	$('#list_data').datagrid({
			url:'../manage/articlelist',
			toolbar:"#tb",
            iconCls:'icon-edit',
            width: 'auto',
            height: 'auto',
            nowrap: false,  
            striped: true,
            border: true,
    		pageSize:10,
    		showFooter: true,
    		pageList:[10,15,20],
            collapsible:false,
            remoteSort:false,   
            idField:'id',
			singleSelect:true,
			selectOnCheck: true,
			checkOnSelect: true,
			autoRowHeight:false,
            pagination:true,
            rownumbers:true,
			fitColumns:true,
    		loadMsg:'正在加载....',
            columns:[[
				{halign:'center',align:'center',field:'id',width:'40',title: 'id',hidden:false },
				{halign:'center',align:'center',field:'article_id',width:'60',title: 'article_id',hidden:false },
                {halign:'center',align:'center',field:'title',width:'150',title: '标题' },
                {halign:'center',align:'center',field:'update_status',width:'50',title: '更新状态',hidden:false },
                {halign:'center',align:'center',field:'last_update_date',width:"100",title: '最后更新时间'},
                {halign:'center',align:'center',field:'last_update_directory',width:"200",title: '最后更新章节' },
                {halign:'center',align:'center',field:'article_directory',width:"200",title: '章节目录',hidden:false },
                {halign:'center',align:'center',field:'article_directory_link',width:"200",title: '章节链接'},
                {halign:'center',align:'center',field:'content',width:"200",title: '内容',hidden:false },
                {halign:'center',align:'center',field:'status',width:"40",title: '状态' },
               
    	        {halign:'center',align:'center',field:'operate',width:"80",formatter:qxButton,title: '操作'}
                
            ]]
        });
    	
    	function txView(value,row,index){
    		if(typeof(value)==='undefined'){ return ""; }
    		if(value.indexOf("/resize_180x180")!=-1){
    			value = value.replace("/resize_180x180","");
			}
    		return "<img src='.."+value+"' style='height:80px;width:80px;'>";
    	}
    	//格式化日期
    	function myformatter(date){
			var y = date.getFullYear();
			var m = date.getMonth()+1;
			var d = date.getDate();
			return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
		}
    });
</script>

<div class="easyui-panel" fit="true" title="小说章节管理 - 小说章节列表" plain="true" border="0" style="width:expression(document.body.clientWidth + 'px');padding:1px;">
    <div id="list_data" cellspacing="0" cellpadding="0" style="margin-top:1px;"></div>
    <div id="tb" style="padding:3px">
		<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="doAdd()">新建小说章节</a>
		<input type="hidden" value='' id="serach_pid" />
		<input id="title" class="easyui-textbox" data-options="prompt:'小说名字'" style="width:200px" />&nbsp;
		<input id="article_directory" class="easyui-textbox" data-options="prompt:'章节名字'" style="width:200px" />&nbsp;
		<!-- 类型：<select id="programa" class="easyui-combobox" name="topic" editable="false" style="width:100px;">
		                 #foreach($info in $menulist)
	            	         <option value=${info.id}_${info.title}>${info.title}</option>
	            	       #end
		</select> -->
		<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doSearch()">Search</a>
		
		 <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-back" onclick="doBack()" style="display:none;" id="back">返回</a>
    </div>
</div>

<div id="dialog_edit" style="display:none;width:800px;height:600px;padding:5px;" title="小说章节编辑" iconCls="icon-edit">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true">
            <!--  <input id="_pid" name="_pid" type="hidden" value="" /> -->
    		<form id="m_form" method="post" style="padding:13px;line-height:10px;" enctype="multipart/form-data">
            	<input id="pid" name="pid" type="hidden" value="" />
            	<!-- <input id="pid" name="pid" type="hidden" value="" /> -->
            	<table style="width: 100%;">
            	 <tr style="">
	            	 <td><label ><b>id</b>：</label></td>
	            	 <td><input id="id" name="id"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style=""> 
	            	 <td><label ><b>小说id</b>：</label></td>
	            	 <td><input id="article_id" name="article_id"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>小说名字</b>：</label></td>
	            	 <td><input id="title" name="title"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>更新状态</b>：</label></td>
	            	 <td><input id="update_status" name="update_status"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>最后更新时间</b>：</label></td>
	            	 <td><input id="last_update_date" name="last_update_date" value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
	            </tr>
            	 <tr style="">
	            	 <td><label ><b>最后更新章节</b>：</label></td>
	            	 <td><input id="last_update_directory" name="last_update_directory"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>章节目录</b>：</label></td>
	            	 <td><input id="article_directory" name="article_directory"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true"/></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>章节链接</b>：</label></td>
	            	 <td><input id="article_directory_link" name="article_directory_link"  value="" style="width:390px;" class="easyui-textbox" data-options="required:true" /></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>内容</b>：</label></td>
	            	 <td><input id="content" name="content"  value="" style="width:390px;" class="easyui-textbox" /></td>
            	 </tr>
            	 <tr style="">
	            	 <td><label ><b>状态</b>：</label></td>
	            	 <td><input id="status" name="status"  value="" style="width:390px;" class="easyui-textbox" /></td>
            	 </tr>
            	</table>
    		</form>
        </div>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;height:35px;">
            <a class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:doSubmit()" style="width:80px">保存</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#dialog_edit').dialog('close')" style="width:80px">关闭</a>
        </div>
    </div>
</div>
